packages/workflows/src/daily-standup.json
{
	"name": "Daily AI Standup",
	"nodes": [
		{
			"parameters": {
				"rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }] }
			},
			"name": "Schedule: Weekdays 9AM",
			"type": "n8n-nodes-base.scheduleTrigger",
			"position": [250, 300],
			"typeVersion": 1.2
		},
		{
			"parameters": {
				"owner": "={{$json.owner || '{{GITHUB_OWNER}}'}}",
				"repository": "={{$json.repo || '{{GITHUB_REPO}}'}}",
				"filters": { "since": "={{$today.minus({days: 1}).toISO()}}" }
			},
			"name": "Fetch Recent Commits",
			"type": "n8n-nodes-base.github",
			"position": [500, 300],
			"typeVersion": 1,
			"credentials": { "githubApi": { "id": "{{GITHUB_CREDENTIAL_ID}}", "name": "GitHub" } }
		},
		{
			"parameters": {
				"model": "claude-sonnet-4-20250514",
				"messages": {
					"values": [
						{
							"role": "user",
							"content": "Summarize these git commits into a daily standup update. Group by feature/area. Keep it concise and professional.\n\nCommits:\n={{JSON.stringify($json)}}"
						}
					]
				}
			},
			"name": "Summarize with Claude",
			"type": "n8n-nodes-base.anthropic",
			"position": [750, 300],
			"typeVersion": 1,
			"credentials": { "anthropicApi": { "id": "{{ANTHROPIC_CREDENTIAL_ID}}", "name": "Anthropic" } }
		},
		{
			"parameters": {
				"channel": "{{SLACK_CHANNEL_ID}}",
				"text": "📊 *Daily Standup — {{$today.toFormat('dd.MM.yyyy')}}*\n\n={{$json.content[0].text}}"
			},
			"name": "Post to Slack",
			"type": "n8n-nodes-base.slack",
			"position": [1000, 300],
			"typeVersion": 2.2,
			"credentials": { "slackApi": { "id": "{{SLACK_CREDENTIAL_ID}}", "name": "Slack" } }
		}
	],
	"connections": {
		"Schedule: Weekdays 9AM": { "main": [[{ "node": "Fetch Recent Commits", "type": "main", "index": 0 }]] },
		"Fetch Recent Commits": { "main": [[{ "node": "Summarize with Claude", "type": "main", "index": 0 }]] },
		"Summarize with Claude": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
	},
	"settings": { "executionOrder": "v1" }
}
